<h2>edit article</h2>

<%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: Article::CATEGORY %>
  <%= f.input :content %>
  <%#= f.input :photo, as: :file %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
