<div class="show-article row">
  <div class="article col-sm-12 col-md-8">
    <!-- tool bar -->
    <% if user_signed_in? && policy(@article).update? %>
      <div class="d-flex flex-column tool-bar-left">
        <%= link_to edit_article_path(@article) do %>
          <i class="fas fa-edit tool-bar-left-item"></i>
        <% end %>
        <%= link_to article_path(@article), method: :delete, data: {confirm: "Certain de vouloir supprimer cet article?"} do %>
          <i class="fas fa-trash tool-bar-left-item"></i>
        <% end %>
      </div>
    <% end %>
    <!-- 1ère photo pour illustration de l'article -->
    <div class="photo-first-article ">
      <% if @article.photos.first %>
        <div data-toggle="modal" data-target="#bbgcModal">
          <%= cl_image_tag @article.photos.first.key, class:"survol" %>
        </div>
      <% else %>
        <%= image_tag 'https://cdn.pixabay.com/photo/2019/02/25/11/39/backgammon-board-4019437__340.jpg', class:"survol"%>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="bbgcModal" tabindex="-1" role="dialog" aria-labelledby="bbgcModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <% if @article.photos.attached? %>
                <div id="preview-carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= cl_image_tag @article.photos.first.key, class: "d-block w-100" %>
                    </div>
                    <% @article.photos.drop(1).each do |photo| %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block"%>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#preview-carousel" role="button" data-slide="prev">
                    <span class="previous-next"><i class="fas fa-angle-left"></i></span>
                  </a>
                  <a class="carousel-control-next" href="#preview-carousel" role="button" data-slide="next">
                    <span class="previous-next"><i class="fas fa-angle-right"></i></span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de la Modal -->
    </div>

    <!-- contenu de l'article -->
    <div class="article-content">
      <h1><%= @article.title %></h1>
      <!-- contenu de l'article -->
      <%= simple_format(@article.content) %>
      <% if @article.paragraphs.any? %>
        <div class="paragraph">
          <% @article.paragraphs.each do |paragraph| %>
            <% if paragraph.photo.attached? %>
              <%= cl_image_tag paragraph.photo.key %>
            <% end %>
            <h6><%= paragraph.title %></h6>
            <%= simple_format(paragraph.content) %>
          <% end %>
        </div>
      <% end %>

      <!-- toolbar article bas de page (si petit ecran + user =admin )+ retour a l'accueil -->
      <% if user_signed_in? && policy(@article).update? %>
        <div class="end d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <%= link_to edit_article_path(@article) do %>
              <i class="fas fa-edit tool-bar-hidden-item"></i>
            <% end %>
            <%= link_to article_path(@article), method: :delete, data: {confirm: "Certain de vouloir supprimer cet article?"} do %>
              <i class="fas fa-trash tool-bar-hidden-item" id="trash"></i>
            <% end %>
          </div>
          <%= link_to "retour à l'accueil", root_path, class:"back" %>
        </div>
      <% else %>
        <div class="end">
          <%= link_to "retour à l'accueil", root_path, class:"back" %>
        </div>
      <% end %>
      <!-- fin de la toolbar bas de page -->

      <!-- zone paragraph -->
      <p>ajouter un paragraph</p>
      <%= simple_form_for [@article, @paragraph] do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.submit %>
      <% end %>

      <!-- zone reviews -->
      <div class="section" id="reviewszone">
        <p class="review-part">commentaires (<%= @article.reviews.count %>)</p>
        <% if @article.reviews.any? %>
          <% @article.reviews.each do |review| %>
            <div class="card-reviews">
              <p id="name"><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %>
              <p id="date"><%= review.created_at.strftime("%d.%m.%y") %> à <%= review.created_at.strftime("%H:%M") %></p>
              <p id=review-content><%= review.content %></p>
            </div>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <p class="btn-black btn-new-review" id="add-review">Ajouter un commentaire</p>
        <% else %>
          <%= link_to "Ajouter un commentaire", new_user_session_path, class:"btn-black btn-new-review" %>
        <% end %>
        <!-- form pour création des reviews -->
        <div class="review-form">
            <%= simple_form_for [@article, @review] do |f|%>
              <%= f.input :content, label: "votre commentaire", required: false, autofocus: true %>
              <%= f.submit "valider", class:"btn-black" %>
          <% end %>
        </div>
      </div> <!-- fin de la zone reviews -->
      <!-- ---- -->
    </div> <!-- fin de l'article -->
  </div>
</div>

