<div class="show-article row">
  <div class="article col-sm-12 col-md-8">
    <!-- tool bar -->
    <div class="d-flex flex-column tool-bar">
      <i class="fas fa-edit tool-bar-item"></i>
      <i class="fas fa-trash tool-bar-item"></i>
    </div>
    <!-- 1ère photo pour illustration de l'article -->
    <div class="photo-first-article ">
      <% if @article.photos.first %>
        <div data-toggle="modal" data-target="#bbgcModal">
          <%= cl_image_tag @article.photos.first.key, class:"survol" %>
        </div>
      <% else %>
        <%= image_tag 'https://cdn.pixabay.com/photo/2019/02/25/11/39/backgammon-board-4019437__340.jpg' %>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="bbgcModal" tabindex="-1" role="dialog" aria-labelledby="bbgcModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <% if @article.photos.attached? %>
                <div id="preview-carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= cl_image_tag @article.photos.first.key, class: "d-block w-100" %>
                    </div>
                    <% @article.photos.drop(1).each do |photo| %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block"%>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#preview-carousel" role="button" data-slide="prev">
                    <span class="previous-next"><i class="fas fa-angle-left"></i></span>
                  </a>
                  <a class="carousel-control-next" href="#preview-carousel" role="button" data-slide="next">
                    <span class="previous-next"><i class="fas fa-angle-right"></i></span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de la Modal -->
    </div>

    <!-- contenu de l'article -->
    <div class="article-content">
      <h1><%= @article.title %></h1>
      <%= simple_format(@article.content) %>
      <div class="end">
        <%= link_to "retour à l'accueil", root_path, class:"back" %>
      </div>
    </div>
  </div>
</div>

