<div class="container">
   <% simple_form_for @player do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :live_elo %>
    <%= f.input :live_class%>
    <%= f.input :online_elo %>
    <%= f.input :online_class %>
    <%= f.submit %>
</div>
